<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Jobs</title>
    <link rel="stylesheet" href="/jobs/ListJobs.css">
</head>

<body>
    <div class="jobContainer">
        <div class="containerHead">
            <div class="shortcut">
                <div class="easynav">
                    <a href="/dashboard">Back</a>
                </div>
                <h3>
                    Available Jobs
                </h3>
                <div class="logButton">
                    <a href="/auth/logout">Logout</a>
                </div>
            </div>

            <hr>
        </div>
        <div class="container">
            <% if (jobs && jobs.length> 0) { %>
                <% jobs.forEach(job=> { %>
                    <div class="card">
                        <h5>
                            <%= job.title %>
                        </h5>
                        <p><strong>Company:</strong>
                            <%= job.company_name %>
                        </p>
                        <p><strong>Location:</strong>
                            <%= job.location %>
                        </p>
                        <p><strong>Description:</strong>
                            <% const descriptionWords=job.description.split(' ').slice(0, 15).join(' ');
                            %>
                            <%= descriptionWords %>...
                </p>
                <a href="<%= job.url %>" target="_blank">Apply</a>
            </div>
            <% }) %>
                <% } else { %>
                    <p>No jobs available at the moment.</p>
                    <% } %>
        </div>
    </div>

</body>

</html>